#main-content {
	width: 90%;
	margin: auto;
	border: 5px solid black;
	margin-top: 50px;
	padding: 3%;
}

#main-content, #add-order, .order-item {
	border-radius: 5px;
}

.headers {
	font-family: Monaco, Menlo;
	font-weight: bold;
	margin-bottom: 15px;
}

#orders li {
	list-style-type: none;
}

.order-item {
	margin-top: 10px;
	margin-bottom: 10px;
	background: #fff;
	width: 50%;
	padding: 1%;
}

.remove {
	margin: 3px;
	color: red;
}

ul li .edit {
	display: none;
}

ul li.edit .edit {
	display: initial;
}

el li.edit .no-edit {
	display: none;
}